
@font-face {
  font-family: 'Fira Code';
  src: url('./../fonts/FiraCode.ttf');
}

:root {
  --white: #fff;
  --light: #d8d8d8; // 85%
  --light-2: #a5a5a5; // 65%

  --primary: #93FFD8;
  --primary-light: #CFFFDC;
  --bg-color: #0D0D0D;
  --primary-transparent: #93FFD80C;
  --primary-transparent-2: #93FFD860;

  --max-width: 1080px;
  --mobile-breakpoint: var(--max-width);

  --condensed: -1px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb {
  background: var(--primary);
  // background-color: #fff5;
  border-radius: 0px;
}

::selection {
  background: var(--primary-transparent-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

body {
  background-color: var(--bg-color);
  color: var(--light);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--light);

  &:hover {
    color: var(--primary);
    text-decoration: underline;
  }
}

// highlight
span.hl {
  color: var(--primary);
}

.container {
  width: calc(100% - 48px * 4);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 96px 0;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 720px) {
    width: 100%;
  }
}